*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0b1020;
    color:white;
    font-family:Arial, sans-serif;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,0.25);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.nav-logo{
    width:90px;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.nav-links a:hover{
    color:#ff7a00;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.logo{
    width:250px;
    margin-bottom:20px;
}

h1{
    font-size:4rem;
    margin-bottom:10px;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:30px;
}

.btn{
    background:#ff7a00;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    border-radius:10px;
    font-weight:bold;
}

.ranks-section{
    padding:100px 80px;
}

.ranks-section h2{
    text-align:center;
    font-size:3rem;
    margin-bottom:60px;
}

.rank-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.rank-card{
    background:#121a33;
    border-radius:20px;
    padding:25px;
    text-align:center;
    transition:.3s;
}

.rank-card:hover{
    transform:translateY(-10px);
}

.rank-card img{
    width:100%;
    max-width:280px;
}

.rank-card h3{
    margin-top:15px;
    margin-bottom:10px;
    font-size:2rem;
}

.rank-card p{
    color:#bfc7dd;
    margin-bottom:20px;
}

.rank-btn{
    display:inline-block;
    background:#ff7a00;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:10px;
    font-weight:bold;
}
